.div{
border:1px solid black;
width:500px;
height:30px;
margin-left:30px;
margin-bottom:10px;}
.div1{
border:1px solid black;
width:100px;
height:80px;
margin-left:30px;
margin-bottom:10px;}

.div2{
border:1px solid black;
width:100px;
height:80px;
margin-left:30px;margin-bottom:10px;
}
.div3{
border:1px solid black;
width:100px;
height:80px;
margin-left:30px;margin-bottom:10px;}

.div5{
border:1px solid black;
width:280px;
height:260px;
margin-top:-275px;
margin-left:140px;}

.div6{
border:1px solid black;
width:100px;
height:80px;
margin-left:432px;
margin-top:-62px;
}

.div7{
border:1px solid black;
width:100px;
height:80px;
margin-left:432px;
margin-top:-100px;
}
.div8{
border:1px solid black;
width:100px;
height:80px;
margin-left:432;
margin-top:-150px;}
margin-bottom:100px;}
margin-left:432px;margin-bottom:10px;}