.div{
display:inline-block;
width:90%;
list-style-type:none;
background-color:green;
text-align:ceter;
}
.div1{
border:1px solid black;
    width:80px;
    height:80px;
    display:inline-block;
    margin: 4px 2px;
    text-align:center;}

